<h1 class="myh1" data-tr="Cart"></h1>
<div id="cart">
     <input type="button" id="deleteCart" value="Delete All"/>
     <table id="cart" style="width:100%">
          <thead>
               <tr>
                    <th>Name</th>
                    <th>Mark</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Total Product</th>
               </tr>
          </thead>
          <tbody id="bodyCart"></tbody>
     </table>
     <button id="addcart" name="addcart" class="btn btn-success">Check out</button>

</div>