<div id="content">
    <div id="formLog">
        <form method="POST" class="logForm" id="logForm">
            <table>
                <tr>
                <h3 data-tr="Log in"></h3>
                </tr>
                <br>
                <tr>
                    <p>Username: </p>
                </tr>
                <tr>
                    <input type="text" id="username" placeholder="Username" size="15">
                    <br><span id="e_username" class="styerror"></span>
                </tr>
                <br>
                <tr>
                    <p>Password: </p>
                </tr>
                <tr>
                    <input type="password" id="password" placeholder="Password" size="20">
                    <br><span id="e_password" class="styerror"></span>
                </tr>
                <br>
                <tr>
                    <input name="sendLog" type="submit" value="Send" onclick="validate_login()"/>
                </tr>
                <tr>
                    <input type="button" id="socialBtn" value="Social" />
                </tr>
                <tr> 
                    <p>If you have not an account <a id="linkReg" href="#" data-tr="">Register</a></p>
                    <p>If you forget your password <a id="linkRecover" href="#" data-tr="">Recover</a></p>
                </tr>
            </table>
        </form>
    </div>

</div>