<div id="content">
    <div id="formLog">
        <form method="POST" class="recForm" id="recForm">
            <table>
                <tr>
                <h3 data-tr="">Recover password</h3>
                </tr>
                <br>
                <tr>
                    <p>Username: </p>
                </tr>
                <tr>
                    <input type="text" id="username" placeholder="Username" size="15">
                    <br><span id="e_username" class="styerror"></span>
                </tr>
                <tr>
                    <input name="sendRecov" type="submit" value="Send" onclick="validate_recov()"/>
                </tr>
            </table>
        </form>
    </div>

</div>