<header class="py-5 bg-image-full" style="background-image: url('http://localhost/Wines_PHP_FRAMEWORK_OO_MVC/view/img/header.jpeg'); height:250px; ">
	
	<!-- <script src="view/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

	<!-- <link href="view/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
	<!-- <div id="search">

			<select id="searchType"></select>
			<select  id="searchMark"></select>
							
			<div class="autocomplete">
				<input   id="textAuto" type="text" size="30" />
				<div id="autoOptions"></div> 
			</div>	
			<div ><a id="searchList">Search</a></div>
	</div> -->
</header>
