<header class="py-5 bg-image-full" style="background-image: url('view/img/header.jpeg'); height:250px; ">
	<script type="text/javascript" src="<?php echo JS_PATH ?>api_keys/api_key.js"></script> 
	<script type="text/javascript" src="<?php echo INI_PATH_API ?>api_key.ini"></script>
	<!-- <link href="view/assets/css/full-width-pics.css" rel="stylesheet">
	<script src="view/assets/vendor/jquery/jquery.min.js"></script> -->
	<!-- <script type="text/script" src="http://localhost/Wines_PHP_FRAMEWORK_OO_MVC/view/js/api_keys/api_key.ini"></script> -->
	<!-- <script src="view/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

	<!-- <link href="view/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
	<!-- <div id="search">

			<select id="searchType"></select>
			<select  id="searchMark"></select>
							
			<div class="autocomplete">
				<input   id="textAuto" type="text" size="30" />
				<div id="autoOptions"></div> 
			</div>	
			<div ><a id="searchList">Search</a></div>
	</div> -->
</header>
